@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>


@{
    ViewBag.Title = "Create";
}


<h2>Create Role</h2>
<hr />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <h3>Role Name</h3>
    <p>
        @Html.TextBox("RoleName")
    </p>
    <input type="submit" value="Save" />
}
