@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <h1 class="text-center">Welcome to the Conestoga Virtual Game Store!</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <button type="submit" class="btn btn-primary" onclick="location.href='@Url.Action("Create", "Game")'">Add New Game</button>
        <button type="submit" class="btn btn-primary" onclick="location.href='@Url.Action("Create", "Evant")'">Add Event</button>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table">
            <tbody>
                <tr>
                    <td><img class="table-image" src="~/images/games/assassins_creed_origins.jpg" /></td>
                    <td><img class="table-image" src="~/images/games/deus_ex.jpg" /></td>
                    <td><img class="table-image" src="~/images/games/south_park_fractured_but_whole.jpg" /></td>
                </tr>
                <tr>
                    <td><img class="table-image" src="~/images/games/divinity_original_sin.jpg" /></td>
                    <td><img class="table-image" src="~/images/games/fallout_4.jpg" /></td>
                    <td><img class="table-image" src="~/images/games/halo_wars.jpg" /></td>
                </tr>
                <tr>
                    <td><img class="table-image" src="~/images/games/halo_spartan_strike.jpg" /></td>
                    <td><img class="table-image" src="~/images/games/shadow_of_war.jpg" /></td>
                    <td><img class="table-image" src="~/images/games/witcher_wild_hunt.jpg" /></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>